body{
    margin: 0px;
}
p{
    font-family: serif;
}
h1 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;}
button { 
border: 2px dashed silver;
    background-color: darksalmon;
 color:palevioletred;
}
.All{
background-color: wheat;
}

.morango {
    background-color: paleturquoise;

}

.morango2{
    background-color: deeppink;

}
.Capybara1{
    background-color: cadetblue;

}
.Capybara2{
    background-color: cornflowerblue;
;
}
.Jambo{
    background-color: aquamarine;

}
.Astethic{
    background-color: paleturquoise;

}
.Hackeado{
    background-color: red;
    margin: 20px;
    padding: 40px;
    }
.Oi{
    background-color: darkcyan;
}
.A{
    background-color: aliceblue;

}
.Hie{
    background-color: palegoldenrod;

}

/* classe para as noticias */
.espacamento {
    padding: 2%;
}
.noticia {
    width: 29.333%;
    float: left;
}
.clear{
    clear: both;
}

img {
    width: 300px;
}
